<div class="row">
  <div class="col-md-6 mb-2">
    <a routerLink="/" class="btn btn-outline-info">
      <i class="fa fa-arrow-circle-o-left"></i> Back To Dashboard
    </a>
  </div>
  <div class="col-md-6">

  </div>
</div>

<div class="card">
  <div class="card-header">
    Add Client
  </div>
  <div class="card-body">
    <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" name="firstName" #contactFirstName="ngModel" [ngClass]="{'is-invalid':contactFirstName.errors && contactFirstName.touched}"
          [(ngModel)]="contact.firstName" minlength="2" required>

        <div [hidden]="!contactFirstName.errors?.required" class="invalid-feedback">
          First name required
        </div>

        <div [hidden]="!contactFirstName.errors?.minlength" class="invalid-feedback">
          Must be at least 2 characters
        </div>
      </div>

      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" name="lastName" #contactLastName="ngModel" [ngClass]="{'is-invalid':contactLastName.errors && contactLastName.touched}"
          [(ngModel)]="contact.lastName" minlength="2" required>

        <div [hidden]="!contactLastName.errors?.required" class="invalid-feedback">
          Last name required
        </div>

        <div [hidden]="!contactLastName.errors?.minlength" class="invalid-feedback">
          Must be at least 2 characters
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" #contactEmail="ngModel" [ngClass]="{'is-invalid':contactEmail.errors && contactEmail.touched}"
          [(ngModel)]="contact.email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>

        <div [hidden]="!contactEmail.errors?.required" class="invalid-feedback">
          Email required
        </div>

        <div [hidden]="!contactEmail.errors?.pattern" class="invalid-feedback">
          Email is not valid
        </div>
      </div>

      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" class="form-control" [ngClass]="{'is-invalid':contactPhone.errors && contactPhone.touched}"
          [(ngModel)]="contact.phoneNumber" name="phoneNumber" #contactPhone="ngModel" minlength="10" required>
        <div [hidden]="!contactPhone.errors?.required" class="invalid-feedback">
          Phone is required
        </div>

        <div [hidden]="!contactPhone.errors?.minlength" class="invalid-feedback">
          Must be at least 10 characters
        </div>
      </div>

    

      <input type="submit" value="Add contact" class="btn btn-outline-primary btn-block">
    </form>
  </div>
</div>
